/* 
========================

SUMMARY 

1 - Colors 
2 - Default
3 - Home Page
======================== 
*/

/**********************
* 1: Colors 
***********************/
$orange 	: #F4511E; /* Deep Orange 600 */
$gray 		: #EEE;		/* Grey 200 */
$black		: #212121;	/* Grey 900 */
$red 		: #C62828;  /* Red 800 */

/**********************
* 2: Default
***********************/
body {
	background: $gray;
}

a {
	color: $orange;
}

.one-thousand-button-layout {
	background: $orange;
	color: white;
}

/**********************
* 3: Home Page
***********************/
.one-thousand-home-layout {
	.mdl-layout__header-row {
		height: 100px;

		.mdl-navigation a {
			color: $black;
		}
	}

	.mdl-layout__drawer .mdl-layout-title img {
		width: 150px;
	}

	.mdl-layout__drawer-button .material-icons {
		color: $black;
	}

	.mdl-layout-title img {
		width: 250px;
	}

	/* content */
	.section--center {
		max-width: 860px;
	}
	.one-thousand.wide-card-layout {
		width: auto;

		.mdl-card__title {
			background: url("http://cache4.asset-cache.net/gc/537001261-darts-in-dartboard-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=QN0G9EoNKEUg5uoLS5aZpBcQbP7I32GG0fqutdm8T6e5GqILqVvcVoZX97%2bz%2fYac") center / cover; 
			color: white;
			height: 250px;
		}
	}
	.one-thousand-logIn-forgetPass-layout {
		margin: 10px 0;
	}

	.one-thousand-card-layout {
		width: auto;
	}

	/* footer */
	footer {
		.mdl-logo {
			margin-top: 0;
		}
		.mdl-mini-footer__link-list {
			color: $black;
		}
	}
}